################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Performances/.vs/Performances/v15
/Performances/Performances.Api/obj/Debug
/Performances/Performances.Api/bin
/Project/.idea
